# Database
DATABASE_URL=postgres://user:password@localhost/dbname
SECRET_KEY=strong-secret-key
DEBUG=True

# Email
EMAIL_USE_SSL = False
EMAIL_HOST_USER = 'your@email.com'
EMAIL_HOST_PASSWORD = 'google-password-secret'